@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
    text-decoration: none;
}

.container {
    max-width: 1140px;
    padding-left: 12px;
    padding-right: 12px;
    margin-left: auto;
    margin-right: auto;
}

.bg-img {
    background-image: url(/assets/images/Sign\ in.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    top: 0;
    min-height: 100vh;
    height: 100%;
    background-color: #FCFDFF;
    position: relative;

}

.min-vh-100 {
    min-height: 100vh;
}

.align-items-center {
    align-items: center;
}

.d-flex {
    display: flex;
}

.justify-content-between {
    justify-content: space-between;
}

.row {
    display: flex;
    margin-left: -12px;
    margin-right: -12px;
    flex-direction: row;
    flex-wrap: wrap;
}

.col-6 {
    width: 50%;
    padding-left: 12px;
    padding-right: 12px;
}

.sign-in {
    font-family: 'Poppins', sans-serif;
    font-size: 32px;
    font-weight: 600;
    line-height: 43.2px;
    text-align: left;
    padding-left: 10px;
    padding-top: 20px;
}

.content {
    font-family: 'Lato', serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    text-align: left;
    color: #62656D;
    padding-left: 10px;
    padding-top: 10px;
}

.blue-color {
    color: #2563EB;
}



label[for="email"] {
    position: relative;
    display: flex;


}

input[type="email"][id="email"] {
    width: 50%;
    height: 100%;
    padding: 10px 28px;
    border: 1px solid #E4EAF7;
    background: #F5F8FF;
    font-family: Lato;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
}


.form {
    margin: 10px;
}

.message-icon {
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);

}

label[for="password"] {
    position: relative;
    display: flex;
  }

.lock-icon {
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
}

.close-eye-icon {
    position: absolute;
    top: 50%;
    left: 44%;
    transform: translateY(-50%);
    cursor: pointer;
}

.close-eye-icon:hover path {
    fill: black;
}

input[type="password"][id="password"] {
    width: 50%;
    height: 100%;
    padding: 10px 28px;
    border: 1px solid #E4EAF7;
    background: #F5F8FF;
    font-family: 'Lato', serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
}
.gap-25 {
    gap: 5%;
}

label[for="Remember"] {
    font-family: 'Lato', serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    text-align: left;
    color: #62656D;
}

.Forgot {
    font-family: 'Lato', serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    text-align: right;
    color: #62656D;
    margin-top: 20px;
}

input[type="checkbox"] {
    margin-top: 20px;
}

.button {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    text-align: center;
    background: linear-gradient(83.67deg, #2194FF 10.02%, #2563EB 90.05%);
    color: #FFFFFF;
    border-radius: 50px;
    padding: 10px;
    border: none;
    margin-top: 20px;
    width: 50%;
}

.line {
    width: 83px;
    border: 1px solid rgba(201, 207, 219, 1);
    display: flex;
    align-items: center;
    margin-top: 20px;
}

.continue {
    font-family: 'Lato', serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    text-align: center;
    color: #9197A6;
    margin-top: 20px;
}

.google-btn {
    background: #FFFFFF;
    border: 1px solid #E4EAF7;
    font-family: 'Lato', serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    text-align: left;
    color: #62656D;
    padding: 8px 25px;
    margin-top: 20px;

}

.google {
    font-family: 'Lato', serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    text-align: left;
    color: #62656D;
}

.facebook-btn {
    background: #FFFFFF;
    border: 1px solid #E4EAF7;
    font-family: 'Lato', serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    text-align: left;
    color: #62656D;
    padding: 8px 25px;
    margin-top: 20px;

}

.gap-5 {
    gap: 5px;
}

.facebook {
    font-family: 'Lato', serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    text-align: left;
    color: #62656D;
}

.blue-img {
    background-image: url(/assets/images/Rectangle\ 20759.png);
    max-width: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    background-position: center;
    right: 0;
    top: 0;
    left: 50%;
    /* height: 100% */
}

.circle {
    position: relative;
    max-width: 460px;

}

.pt-60 {
    padding-top: 60px;
}

.Group {
    left: 70px;
    position: absolute;
    top: 20%;
}

.union {
    position: absolute;
    left: 85px;
    top: 19%;
}

.link-1 {
    position: absolute;
    left: 250px;
    top: 26%;
}

.link-2 {
    position: absolute;
    left: 400px;
    top: 26%;
}

.face {
    position: absolute;
    left: 32px;
    top: 16%;
}

.in {
    position: absolute;
    left: 32px;
    top: 31%;
}

.insta {
    position: absolute;
    left: 32px;
    top: 46%;
}

.twitter {
    position: absolute;
    left: 32px;
    top: 60%;
}

.col-12 {
    width: 100%;
    padding-left: 12px;
    padding-right: 12px;
}


@media(max-width:991.98px) {
    input[type="password"][id="password"] {
        width: 100%;
    }

    input[type="email"][id="email"] {
        width: 100%;
    }

    .button {
        width: 100%;
    }

    .blue-img {
        top: 85%;
        max-width: 100%;
        height: 50%;
        left: 0%;
    }

    .facebook-btn {
        padding: 10px;
        width: 50%;
    }

    .google-btn {
        padding: 10px;
        width: 50%;
    }

    .line {
        width: 50%;
    }

    .gap-25 {
        gap: 69%;
    }

    .close-eye-icon {

        left: 90%;

    }
}



@media(max-width:767.98px) {

    .gap-25 {
        gap: 47%;
    }
    .union {
        top: 21%;
        left: 120px;
    }

    .Group {
        display: none;
    }

    .circle {
        margin-left: 40px;

    }

    .link-1 {
        top: 30%;
        left: 300px;
    }

    .link-2 {
        top: 30%;
        left: 450px;
    }

    .gap-25 {
        gap: 20%;
    }

    .face {
        left: 70px;
        top: 19%;
    }

    .in {

        left: 70px;
        top: 32%;
    }

    .insta {

        left: 70px;
        top: 49%;
    }

    .twitter {

        left: 70px;
        top: 63%;
    }
}

@media(max-width:575.98px) {
    .link-1 {
        top: 20%;
        left: 50px;
    }

    .link-2 {
        top: 20%;
        left: 200px;
    }

    .circle {
        display: none;
    }

    .union {
        display: none;
    }

    .face {
        left: 30px;
        top: 60%;
    }

    .in {

        left: 100px;
        top: 60%;
    }

    .insta {

        left: 170px;
        top: 60%;
    }

    .twitter {

        left: 240px;
        top: 60%;
    }
}
@media(min-width:992px) {
    .col-xl-6 {
        width: 50%;
        padding-left: 12px;
        padding-right: 12px;
    }
}